@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cuộc đời dù đúng dù sai</h1>
    <p>! <a asp-area="" asp-controller="Home" asp-action="Privacy">Thì chỉ có assmin mới được bấm vào đây!</a>.</p>
</div>
